
.cardContainer {
    width: 100vw;
    padding: 5px;
    box-sizing: border-box;
}

.card {
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
}

.removeButton {
    border: 1px solid white;
    color: white;
    padding: 5px;
    display: inline-block;
}

.cardTitleBar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
}

.cardTitle {
    color: white;
    vertical-align: middle;
    outline: none;
}

.titleMiddle {
    padding: 5px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.cardContentContainer {
    padding: 15px;
    box-sizing: border-box;
}

.cardContent {
    white-space: pre-wrap;
    outline: none;
}